[submodule "cmake/modules"]
	path = cmake/modules
	url = https://github.com/BoostCMake/cmake_modules.git
[submodule "scripts/dbms-python"]
	path = scripts/dbms-python
	url = git@github.com:NilFoundation/dbms-python.git
